.navbar{
    background-color: #111 !important;
}

.nav-link{
    color: white !important;
}
.navbar-brand{
    color: white !important;
    margin-left: 170px !important;
}
.navbar-nav{
    margin-left: auto !important;
}